body {

    margin: 0;
    padding: 0;
    background:linear-gradient(to right,rgb(24, 15, 15), rgb(39, 39, 18));
    color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: fantasy;

}

h1{
    text-align: center;
}


#game {
    background: linear-gradient(to right, rgb(255, 32, 28),rgb(249, 249, 29));
    border-radius: 2rem;
    display: flex;
}

.card {
     width: 160px;
     height: 120px;
     border-radius: 3rem;
     background-color: rgb(34, 34, 191);
     border-left: solid rgb(17, 17, 233) 10px;
     border-right: solid rgb(11,11,91) 10px;
     border-top: solid rgb(1,61,200) 10px;
     border-bottom: solid rgb(20,20,89) 10px;
     text-align: center;
     font-size: 100px;
     padding: 10px;
     line-height: 120px;
     
}

.card-hover{
    opacity: 1;
    box-shadow: 0px 5px 5px 0px;
}


.first-button{
    background-color: rgb(24,171,24);

}

.first-button-hover{
    opacity: 1;
    box-shadow: 0px 5px 5px 0px;
}

.second-button{
    background-color: rgb(205, 97, 9);
}

.genre-title {
    background-color: rgb(27, 219, 241);
    border-radius: 2rem;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    margin: 5px;

}

.correct-answer {
    background-color: rgb(186,186,24);
}
.wrong-answer {
    background-color: rgb(221,64,56);
}


.End{
    background:rgb(208, 23, 23);
    padding: 16px 30px;
    width: 20%;
    cursor: pointer;
    opacity: 0.9;
    margin: 8px 0;
    color: black;
    border-radius: 7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.End:hover{
    opacity: 1;
    box-shadow: 0px 5px 5px 0px;
}


.button1 {
    background:rgb(255, 255, 255);
    padding: 16px 30px;
    width: 25%;
    cursor: pointer;
    opacity: 0.9;
    margin: 8px 0;
    color: black;
    border-radius: 7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.button1:hover{
    opacity: 1;
    box-shadow: 0px 5px 5px 0px;
}